@charset "UTF-8";
@import "compass";
@import "compass/layout";
@import "compass/css3/user-interface";
@include global-reset();

/* Modular Scale */
/* http://modularscale.com/scale/?px1=14&px2=44&ra1=1.618&ra2=0 */

$ms-ratio:            1.618;
$ms-base-font-size:   14;
$ms-ideal-number:     14;
$ms-important-number: 44;

$ms-pixel-targets-4: ( 406, 302, 251, 186, 155 );
$ms-pixel-targets-3: ( 115, 96,  71,  59,  44  );
$ms-pixel-targets-2: ( 37,  27,  23,  17,  14  );
$ms-pixel-targets-1: ( 10,  9,   6,   5,   4   );

@function rem($pixel-target) {
  $target: $pixel-target / 1px;
  $rems: $target / $ms-base-font-size;
  $rem: $rems * 1rem;
  @return $rem;
}

/* Variables */

$color-sky:             #38c0fc;
$color-water:           #0078fc;
$color-cloud:           #cbf5f9;
$color-white:           white;
$color-ruby:            #ed1c24;
$color-ruby-drk:        #cd2127;
$color-mmaid-skin:      #f5be99;
$color-mmaid-eyes:      #47463a;
$color-mmaid-hair:      #c7463a;
$color-mmaid-hair-drk:  #b7312c;
$color-mmaid-body:      #d8d6b4;
$color-mmaid-body-drk:  #a3a28b;

$color-link: $color-white;

$horizon-height:      83%;
$horizon-left-width:  42%;
$horizon-right-width: 42%;
$water-height:        17%;



/* Silent Classes */

%bs-border-box { @include box-sizing(border-box); }
%bc-border-box { @include background-clip(border-box); }
%bo-border-box { @include background-origin(border-box); }

%stretched { @include stretch; }

%font-family-main   { font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif; }
%font-family-header { font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif; }
%font-family-links  { font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Geneva", Verdana, sans-serif; }


/* Custom Companimations */

@import 'companimation';
@import 'companimation/preset/bounce/bounceInUp';

@include animation(
  $name: 'bobbing', 
  $duration: 1.5s, 
  $timing: ease-in-out, 
  $iterations: infinite,
  $direction: alternate
);
@include webkit-keyframes('bobbing') {
  0%, 100% { -webkit-transform: translateY(0); }
  25% { -webkit-transform: translateY(2%); }
  50% { -webkit-transform: translateY(-1%); }
}
@include moz-keyframes('bobbing') {
  0%, 100% { -moz-transform: translateY(0); }
  25% { -moz-transform: translateY(2%); }
  50% { -moz-transform: translateY(-1%); }
}
@include official-keyframes('bobbing') {
  0%, 100% { transform: translateY(0); }
  25% { transform: translateY(2%); }
  50% { transform: translateY(-1%); }
}


/* Main */

@each $el in elements-of-type('block') {  #{$el} { @extend %bs-border-box; } }

html { 
  color: white;
  @extend %font-family-main;
}

a, a:link, a:visited, a:active { color: $color-link; text-decoration: none; }
a:hover { text-decoration: underline; }


/* Layout */

.sky {
  background-color: $color-sky;
  @extend %stretched; }

.horizon {
  @extend %stretched;
  position: absolute;
  overflow: hidden;
  height: $horizon-height; }
  .horizon-left,
  .horizon-right {
    position: absolute;
    bottom: 0; }
  .horizon-left  {
    left: 0;
    width: $horizon-left-width; }
  .horizon-right  {
    right: 0;
    width: $horizon-right-width; }

.water {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $water-height;
  background-color: $color-water;
  overflow: visible; }
  .mermaid {
    position: absolute;
    height: 180%;
    overflow: visible;
    top: -115%;
    left: 44%;
    &.bounceInUp { @extend %bounceInUp; }
    &.bobbing    { @extend %bobbing; } }
  .waves {
    position: absolute;
    height: 25%;
    top: -25%;
    left: 40%; }
  .watery {
    position: absolute;
    background-color: rgba($color-water, 0.6);
    @extend %stretched; }


