<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-title" content="757.RB">
    <title>757.rb - Norfolk, VA Ruby Users Group</title>
    <link rel="icon" href="{{ 'favicon.png' | asset_path }}"/>
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_path }}"/>
    <link rel="apple-touch-icon-precomposed" href="{{ 'favicon.png' | asset_path }}"/>
    {% stylesheet home %}
  </head>
  <body>
    <audio autoplay="autoplay" loop="loop">
      <source src="/audio/voices_of_experience.ogg" type="audio/ogg">
      <source src="/audio/voices_of_experience.mp3" type="audio/mpeg">
    </audio>
    <section class="sky">
      <section class="clouds">
        <img class="birds" src="{{ 'birds_4ppp.gif' | asset_path }}">
      </section>
      <section class="horizon">
        <section class="horizon-left">
          <img class="horizon-image horizon-image-back" src="{{ 'horizon_left_back_4ppp.png' | asset_path }}">
          <img class="horizon-image horizon-image-front" src="{{ 'horizon_left_front_4ppp.png' | asset_path }}">
        </section>
        <section class="horizon-right">
          <img class="horizon-image horizon-image-back" src="{{ 'horizon_right_back_4ppp.png' | asset_path }}">
          <img class="horizon-image horizon-image-front" src="{{ 'horizon_right_front_4ppp.png' | asset_path }}">
        </section>
      </section>
      <header class="game-info">
        <section class="players">
          <header class="player-header">PLAYERS-<span class="players-count">0</span></br>H<span class="players-health">Œ</span></header>
        </section>
        <section class="audio-controls">
          <header class="">AUDIO-œ</br><span class="audio-state" data-on="(ON)" data-off="(OFF)">&nbsp;</span></header>
        </section>
      </header>
      <aside class="players-area"></aside>
      <section class="next-adventure" style="display:none;">
        <header class="name"></header>
        <time>&nbsp;</time>
        <section class="description"></section>
        <section class="rsvp">
          <section class="rsvp-info"><span class="rsvp-count">&nbsp;</span> Attending!</section>
          <section class="rsvp-button">RSVP</section>
        </section>
      </section>
      <section class="water">
        <img class="waves" src="{{ 'waves_4ppp.png' | asset_path }}">
        <img class="mermaid" src="{{ 'mermaid_16ppp.png' | asset_path }}">
        <section class="watery"></section>
        <footer>
          <nav class="more-credits">
            <header>CREDITS<span class="more-credits-direction down">&hellip;</span></header>
            <p>
              <img class="logo" src="{{ '757rb_8ppp.png' | asset_path }}">
              &copy; {{ site.time | date: "%Y" }} all rights reserved. Click for credits.
            </p>
          </nav>
          <nav class="power-ups">
            <header>POWERUPS</header>
            <img data-href="http://github.com/757rb" data-name="GitHub" src="{{ 'icon_github_4ppp.png' | asset_path }}">
            <img data-href="http://www.meetup.com/757-rb" data-name="Meetup" src="{{ 'icon_meetup_4ppp.png' | asset_path }}">
            <img data-href="http://twitter.com/757rb" data-name="Twitter" src="{{ 'icon_twitter_4ppp.png' | asset_path }}">
            <img data-href="http://www.youtube.com/user/norfolk757rb" data-name="YouTube" src="{{ 'icon_youtube_4ppp.png' | asset_path }}">
            <img data-href="http://groups.google.com/group/757rb" data-name="Discussions" src="{{ 'icon_google_4ppp.png' | asset_path }}">
            <img data-href="http://www.linkedin.com/groups?gid=727577" data-name="Linkedin" src="{{ 'icon_linkedin_4ppp.png' | asset_path }}">
          </nav>
        </footer>
      </section>
      <section class="credits">
        <section class="credits-area">
          <!-- Ben Landis -->
          <section class="credit-info">
            <img class="avatar" data-src="{{ 'credit_thebenlandis.png' | asset_path }}">
            <span class="name">Ben Landis</span><br/>
            Music is "Voices of Experience" from Ben's <a href="http://music.adventuresinpixels.net">
            Adventure in Pixels</a> album. Check out his works on 
            <a href="https://soundcloud.com/benlandis">SoundCloud</a> or follow him on  
            <a href="https://twitter.com/thebenlandis">Twitter</a>.
          </section>
          <!-- Lookmai Rattana -->
          <section class="credit-info">
            <img class="avatar" data-src="{{ 'credit_cosmic_meow.png' | asset_path }}">
            <span class="name">Lookmai Rattana</span><br/>
            For her creative 8bit artwork and our new mermaid logo. Thanks for inspiring our group's reboot.
            Follow <a href="https://twitter.com/cosmic_meow">@cosmic_meow</a> on Twitter.
          </section>
          <!-- Ken Collins -->
          <section class="credit-info">
            <img class="avatar" data-src="{{ 'credit_metaskills.png' | asset_path }}">
            <span class="name">Ken Collins</span><br/>
            The work on the new website. Shout out to all other @757rb'ers who chip in too!
            Follow <a href="https://twitter.com/metaskills">@metaskills</a> on Twitter.
          </section>

        </section>
      </section>
    </section>
    {% javascript home %}
  </body>
</html>