<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>757.rb - Norfolk, VA Ruby Users Group</title>
    {% stylesheet home %}
  </head>
  <body>
    <!-- <header class="players"></header> -->
    <section class="sky">
      <section class="clouds">
        <img class="birds" src="{{ 'birds_16ppp.gif' | asset_path }}">
        <section class="horizon">
          <section class="horizon-left">
            <img class="horizon-image horizon-left-back" src="{{ 'horizon_left_back_16ppp.png' | asset_path }}">
            <img class="horizon-image horizon-left-front" src="{{ 'horizon_left_front_16ppp.png' | asset_path }}">
          </section>
          <section class="horizon-right">
            <img class="horizon-image horizon-right-back" src="{{ 'horizon_right_back_16ppp.png' | asset_path }}">
            <img class="horizon-image horizon-right-front" src="{{ 'horizon_right_front_16ppp.png' | asset_path }}">
          </section>
        </section>
      </section>
      <aside class="players">
        <header title="PLAYERS">PLAYERS</header>
      </aside>
      <section class="water">
        <img class="waves" src="{{ 'waves_16ppp.png' | asset_path }}">
        <img class="mermaid" src="{{ 'mermaid_16ppp.png' | asset_path }}">
        <section class="watery"></section>
      </section>
    </section>
    {% javascript home %}
  </body>
</html>