
$cell-spacing: rem(10px);

.credits {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $water-height;
  background-color: $color-water;
  background-image: asset_url('sea_floor_v3_4ppp.png');
  background-repeat: repeat-x;
  background-position: bottom;
  @include transform(translateY(100%));
  &.up   { @extend %creditsUp; } 
  &.down { @extend %creditsDown; } }
  .credits-area { 
    $side: rem($game-info-side-margin);
    $bottom: rem($game-info-top-margin);
    margin: 0 $side $bottom $side;
    display: table; }
    .credit-info {
      @extend %user-select-none;
      @extend %font-main-12;
      display: table-cell;
      vertical-align: top;
      padding-right: $cell-spacing * 2;
      width: 30%;
      img { 
        float: left;
        width: rem(50px); 
        height: rem(50px); 
        border: rem(2px) solid black; 
        margin: 0 $cell-spacing 5px 0; }
      .name {
        @extend %font-arcade-10;
        @extend %font-arcade-shadow;
        text-transform: uppercase;
        line-height: rem(18px);
        color: $color-mmaid-body; } }