
@include animation-durations(30);

.sky {
  @extend %stretched;
  overflow: hidden; }
  .clouds {
    @extend %stretched;
    @extend %pixelated;
    @extend %user-select-none;
    opacity: 0;
    top: -$plaxRangeClouds;
    left: -$plaxRangeClouds;
    bottom: 0px;
    background-image: asset_url('clouds_big_4ppp.png'), asset_url('clouds_small_4ppp.png');
    background-repeat: repeat-x;
    overflow: hidden;
    &.moving {
      @extend %cloudMove;
      opacity: 1; } }
    .birds {
      display: none;
      position: absolute;
      left: 73%;
      top: 16%; }
  @import './game-info';
  @import './players-area';
  @import './next-adventure';

.horizon {
  @extend %stretched;
  height: $horizon-height; }
  .horizon-left,
  .horizon-right { 
    @extend %stretched; 
    @extend %user-select-none;
    overflow: hidden;
    opacity: 0; }
  .horizon-image { 
    @extend %pixelated;
    position: absolute;
    bottom: 0;
    width: 100%; }
  .horizon-left  { 
    right: 100% - $horizon-left-width;
    &.fadeIn { @extend %fadeInLeftCustom; }
    .horizon-image { right: 0; } }
  .horizon-right { 
    left: 100% - $horizon-right-width;
    &.fadeIn { @extend %fadeInRightCustom; }
    .horizon-image { left: 0; } }

.water {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $water-height;
  background-color: $color-water;
  overflow: visible;
  &.up   { @extend %waterUp; } 
  &.down { @extend %waterDown; } }
  .mermaid {
    @extend %pixelated;
    opacity: 0;
    position: absolute;
    height: 180%;
    overflow: visible;
    top: -115%;
    left: 44%;
    &.bounceInUp { @extend %bounceInUp; opacity: 1; }
    &.bobbing    { @extend %bobbing; opacity: 1; } }
  .waves {
    @extend %pixelated;
    position: absolute;
    height: 25%;
    top: -24.5%;
    left: 40%; }
  .watery {
    @extend %stretched;
    @extend %pixelated;
    opacity: 0;
    background-color: $color-water;
    background-image: asset_url('clouds_reflection_4ppp.png');
    background-repeat: repeat-x;
    background-position: bottom;
    &.shimmering {
      @extend %cloudReflection;
      opacity: 0.6; } }

footer {
  @extend %stretched; }
  @import './more-credits';
  @import './power-ups';
