
@each $el in elements-of-type('block') {  #{$el} { @extend %bs-border-box; } }

html { 
  color: white;
  @extend %font-family-main; }

body { background-color: $color-sky; }

a, a:link, a:visited, a:active { color: $color-mmaid-skin; text-decoration: none; font-weight: bold; }
a:hover { border-bottom: 1px dashed $color-mmaid-skin; }

