
%bs-border-box { @include box-sizing(border-box); }
%bc-border-box { @include background-clip(border-box); }
%bo-border-box { @include background-origin(border-box); }

%stretched { @include stretch; }

%user-select-none { @include user-select(none); }

%font-family-main   { font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }
%font-main-14       { @extend %font-family-main; font-size: rem(14px); line-height: 130%; }
%font-main-17       { @extend %font-family-main; font-size: rem(17px); line-height: 130%; }
%font-main-23       { @extend %font-family-main; font-size: rem(23px); line-height: 120%; }
%font-main-27       { @extend %font-family-main; font-size: rem(27px); line-height: 120%; }
%font-arcade        { font-family: 'press_start'; }
%font-arcade-14     { @extend %font-arcade; font-size: rem(14px); line-height: 130%; }
%font-arcade-17     { @extend %font-arcade; font-size: rem(17px); line-height: 120%; }
%font-arcade-23     { @extend %font-arcade; font-size: rem(23px); line-height: 120%; }
%font-arcade-shadow {
  @include text-shadow(
    // 1 Pixel Outline
    0px  -1px  0px  $color-mmaid-eyes, // top
    1px  -1px  0px  $color-mmaid-eyes, // top-right
    1px   0px  0px  $color-mmaid-eyes, // right
    1px   1px  0px  $color-mmaid-eyes, // bottom-right
    0px   1px  0px  $color-mmaid-eyes, // bottom
   -1px   1px  0px  $color-mmaid-eyes, // bottom-left
   -1px  -1px  0px  $color-mmaid-eyes, // left
    // 2 Pixel Bottom Right Emphasis
    3px   2px  0px  $color-mmaid-eyes,
    2px   3px  0px  $color-mmaid-eyes,
   -1px   3px  0px  $color-mmaid-eyes 
  );
}
%font-arcade-shadow-down-white {
  @include text-shadow(
    // New Top Level
    2px   2px  0px  $color-white,
    // 1 Pixel Outline (offset 2px bottom right)
    2px   1px  0px  $color-mmaid-eyes, // top
    3px   1px  0px  $color-mmaid-eyes, // top-right
    3px   2px  0px  $color-mmaid-eyes, // right
    3px   3px  0px  $color-mmaid-eyes, // bottom-right
    2px   3px  0px  $color-mmaid-eyes, // bottom
    1px   3px  0px  $color-mmaid-eyes, // bottom-left
    1px   1px  0px  $color-mmaid-eyes  // left
  );
}
%font-arcade-shadow-down-ruby {
  @include text-shadow(
    // New Top Level
    2px   2px  0px  $color-ruby,
    // 1 Pixel Outline (offset 2px bottom right)
    2px   1px  0px  $color-mmaid-eyes, // top
    3px   1px  0px  $color-mmaid-eyes, // top-right
    3px   2px  0px  $color-mmaid-eyes, // right
    3px   3px  0px  $color-mmaid-eyes, // bottom-right
    2px   3px  0px  $color-mmaid-eyes, // bottom
    1px   3px  0px  $color-mmaid-eyes, // bottom-left
    1px   1px  0px  $color-mmaid-eyes  // left
  );
}

%z-index-top { z-index: $z-index-top; }

%pixelated {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; 
}

