
$z-index-top:  9999;

$color-sky:             #38c0fc;
$color-water:           #0078fc;
$color-cloud:           #cbf5f9;
$color-white:           white;
$color-ruby:            #ed1c24;
$color-ruby-drk:        #cd2127;
$color-mmaid-skin:      #f5be99;
$color-mmaid-skin2:     lighten($color-mmaid-skin, 15%);
$color-mmaid-eyes:      #47463a;
$color-mmaid-hair:      #c7463a;
$color-mmaid-hair-drk:  #b7312c;
$color-mmaid-body:      #d8d6b4;
$color-mmaid-body-drk:  #a3a28b;

$color-arcade-font-shadow: black;
$color-link: $color-white;

$horizon-height:      83%;
$horizon-left-width:  48%;
$horizon-right-width: 40%;
$water-height:        17%;

$game-info-top-margin:   20px;
$game-info-side-margin:  30px;

$plaxRangeClouds: 20px;

$footer-img-padding: rem(5px);
$footer-img-move-up: rem(3px);

